/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    font-family: Georgia, serif;
}

:root {
    --white-: #FFFFFF;
    --blue-: #0000FF;
    --red-: #FF0000;
}

/* Header */

.logo {
    color: var(--red-);
}

/* Title Heroe */

.title_img {
    height: 100%;
}

/* Carousel */

.carousel_img {
    object-fit: cover;
}

/* Footer */

.mail_link {
    color: var(--blue-);
}
.mail_link:hover {
    color: var(--red-);
}